@import "tailwindcss";

@theme {
  --color-primary: #223FA0;
  --color-primary-light: #3b5cbd;
  --color-secondary: #000000;
  --color-accent: #223FA0;
  
  --font-family-sans: 'Inter', system-ui, sans-serif;
}
